form.row
	.checkbox.col-md-8.col-sm-6
		label.mg-lr-4
			input(type="checkbox", ng-model="isNoSuper", ng-change="filterSkills()")
			| 일반
		label.mg-lr-4
			input(type="checkbox", ng-model="isSuper", ng-change="filterSkills()")
			| 상급
	.col-md-4.col-sm-6(style="margin-top: 10px;padding-right:0;").hidden-xs
		.col-md-3.col-sm-3(style="padding-left:0;padding-right:0")
			label.control-label(style="margin-top:5px") 레벨 선택:
		.col-md-9.col-sm-9(style="padding-left:0")
			.btn-group(role="group", aria-label="...").btn-group-justified
				.btn-group(role="group")
					button(type="button", ng-click="allLv=1", ng-class="{ 'btn-success': allLv === 1 }").btn.btn-default.btn-sm 1
				.btn-group(role="group")
					button(type="button", ng-click="allLv=2", ng-class="{ 'btn-success': allLv === 2 }").btn.btn-default.btn-sm 2
				.btn-group(role="group")
					button(type="button", ng-click="allLv=3", ng-class="{ 'btn-success': allLv === 3 }").btn.btn-default.btn-sm 3
				.btn-group(role="group")
					button(type="button", ng-click="allLv=4", ng-class="{ 'btn-success': allLv === 4 }").btn.btn-default.btn-sm 4
				.btn-group(role="group")
					button(type="button", ng-click="allLv=5", ng-class="{ 'btn-success': allLv === 5 }").btn.btn-default.btn-sm 5
form.hidden-sm.hidden-md.hidden-lg
	.form-group
		label(for="searchText").sr-only Search
		input.form-control(type="text", id="searchText", placeholder="Search", ng-model="searchText")

ul.nav.nav-tabs
	li(role="presentation", ng-click="deselectType()", ng-class="{ active: currType === '전체' }")
		a(href="javascript:;")
			//- span.glyphicon.glyphicon-home
			|  전체
	li(role="presentation", ng-repeat="type in classTypes track by $index", ng-click="selectType(type)", ng-class="{ active: currType === type.heading }")
		a(href="javascript:;")
			img.img-icon(ng-src="{{type.icon}}")
			span.hidden-xs  {{type.heading}}

.container-fluid.table-bordered(style="border-top-color: transparent;")#table-cont
	table.table.table-bordered(style="margin-top:24px")
		colgroup
			//- 클래스
			col(width="100px").hidden-xs.hidden-sm
			//- 이미지
			col(width="60px")
			//- 스킬명
			col(width="140px")
			//- 레벨
			col(width="46px")
			//- 타입
			col(width="90px")
			//- 설명
			col(width="*").hidden-xs
			//- 해제/레벨업 조건
			col(width="210px").hidden-xs
		thead
			tr
				th.ac.va_m.hidden-xs.hidden-sm 클래스
				th.ac.va_m 이미지
				th.ac.va_m 스킬명
				//- th.ac.va_m 상급 여부
				th.ac.va_m 레벨
				th.ac.va_m 타입
				th.ac.va_m(ng-show="showDesc").hidden-xs 스킬 설명
				th.ac.va_m(ng-show="showDesc").hidden-xs 레벨업 조건
		tbody
			tr(ng-repeat="skill in skills | filter:searchText")
				td.ac.va_m.hidden-xs.hidden-sm
					img.img-icon(ng-src="{{convIconUrl(skill.classType)}}")
					span  {{skill.classType}}
				td.ac.va_m(style="padding:4px")
					img.img-thum.clickable_xs(ng-if="skill.skill_thum", ng-src="{{skill.skill_thum}}", ng-click="toggleDesc($event, skill)")
				td.ac.va_m {{skill.name}}
				td.ac.va_m {{skill.currLv}}
				td.ac.va_m {{skill.effect}}
				td(bold-keyword="skill.lvs[skill.currLv].desc", ng-show="showDesc").hidden-xs
				td(ng-show="showDesc").hidden-xs.va_m {{skill.lvs[skill.currLv].up_cond}}
