/*body {
  font: 14px "맑은 고딕", Helvetica, Arial, sans-serif;
}*/

.al{text-align:left !important}
.ac{text-align:center !important}
.ar{text-align:right !important}
.va_t{vertical-align:top !important}
.va_m{vertical-align:middle !important}
.va_b{vertical-align:bottom !important}
.fl{float:left !important}
.fr{float:right !important}

.bold-text {
  font-weight: bold;
}
.grey-text {
  color: #ccc;
}

.clickable {
  cursor: pointer;
}

.mg-lr-4 {
  margin-left: 4px;
  margin-right: 4px;
}

.slim-table>tbody>tr>td {
  padding-top: 4px;
  padding-bottom: 4px;
}
.slim-table>thead>tr>th {
  padding-top: 4px;
  padding-bottom: 4px;
}

.img-icon {
  width: 16px;
  height: 16px;
}
.img-thum {
  width: 40px;
  height: 40px;
}
.img-party {
  width:104px;
  height:104px;
}
/**
 * Progress bars with centered text
 */
.progress {
  position: relative;
}
.progress span {
  position: absolute;
  display: block;
  width: 100%;
  color: black;
}

@media (max-width: 767px) {
  .padding-0-xs {
    padding: 0;
  }
  .mg-tb-2-xs {
    margin-top: 2px;
    margin-bottom: 2px;
  }
  table.hidden-first-td-xs>colgroup>col:first-child {
    display: none !important;
  }
  table.hidden-first-td-xs>thead>tr>th:first-child {
    display: none !important;
  }
  table.hidden-first-td-xs>tbody>tr>td:first-child {
    display: none !important;
  }
  .nav>li>a {
    /*position: relative;
    display: block;*/
    padding: 10px 12px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
    /*background: #eee;*/
  }
}
.st-sort-ascent:before{
    content: '\25B2';
}
.st-sort-descent:before{
    content: '\25BC';
}