
.al{text-align:left !important}
.ac{text-align:center !important}
.ar{text-align:right !important}
.va_t{vertical-align:top !important}
.va_m{vertical-align:middle !important}
.va_b{vertical-align:bottom !important}
.fl{float:left !important}
.fr{float:right !important}

.bold-text {
	font-weight: bold;
}
.grey-text {
	color: #ccc;
}

.clickable {
	cursor: pointer;
}

.m-lr-4 {
	margin-left: 4px;
	margin-right: 4px;
}

.slim-table>tbody>tr>td {
	padding-top: 4px;
	padding-bottom: 4px;
}
.slim-table>thead>tr>th {
    padding-top: 4px;
    padding-bottom: 4px;
}

.img-thum {
	width: 40px;
	height: 40px;
}
.img-party {
    width:104px;
    height:104px;
}

#layer_fixed {
    width:100%;
    height:50px;
    margin-top: -50px;
    top:100%;
    left:0px;
    /*color: #555;*/
    font-size:12px;
    position:fixed;
    z-index:999;
    /*-webkit-box-shadow: 0 1px 2px 0 #777;*/
    /*box-shadow: 0 1px 2px 0 #777;*/
    /*background-color:#ccc;*/
    box-shadow: 0 5px 15px rgba(0,0,0,.7);
}
