.modal-header
	h3.modal-title 용사 비교
.modal-body.padding-0-xs
	.container-fluid.padding-0-xs
		table.table.table-bordered.slim-table.hidden-first-td-xs
			colgroup
				col(width="13%")
				col(width="29%")
				col(width="29%")
				col(width="29%")
			thead
				tr
					th.ac.va_m 이미지
					th.ac.va_m(ng-repeat="heroThum in heroThums")
						img.img-thum(ng-if="heroThum", ng-src="{{heroThum}}")
						span(ng-if="plusRatios[$index] && plusRatios[$index] < 5") +{{plusRatios[$index]}}
						span(ng-if="plusRatios[$index] && plusRatios[$index] === 5") +MAX
			tbody
				tr(ng-repeat="arr in defArr")
					td.ac.va_m(ng-repeat="item in arr track by $index")
						span(ng-class="{ 'bold-text': $first }") {{item}}
				tr
					td.ac.va_m(ng-repeat="plusRatio in plusRatios track by $index")
						span.bold-text(ng-if="$first") 훈련
						span(ng-if="!$first")
							button.btn.btn-default.btn-xs.mg-lr-4(type="button", style="width:60px;",
									ng-click="resetStatus($index)", ng-disabled="plusRatio === 0")
								| 초기화
							button.btn.btn-default.btn-xs.mg-lr-4(type="button", style="width:60px;",
									ng-click="increaseStatus($index, plusRatio)", ng-disabled="plusRatio >= 5")
								| 훈 련
				tr(ng-repeat="arr in statusArr")
					td.ac.va_m(ng-repeat="item in arr track by $index")
						span.bold-text(ng-if="$first") {{item}}
						span(ng-if="!$first", ng-class="{ 'bold-text': isMax(arr, item) }") {{item | number}}
						span.glyphicon.glyphicon-arrow-up(aria-hidden="true", ng-if="!$first", ng-show="isMax(arr, item)")
						//- span.glyphicon.glyphicon-arrow-down(aria-hidden="true", ng-show="isMin(field, item)")
				tr
					td.ac.va_m
						span.bold-text 블록 이미지
					td.ac.va_m(ng-repeat="blockThum in blockThums")
						img.img-thum(ng-if="blockThum", ng-src="{{blockThum}}")
				tr(ng-repeat="arr in descArr")
					td.ac.va_m(ng-repeat="item in arr track by $index")
						span.bold-text(ng-if="$first") {{item}}
						span(ng-if="!$first", bold-keyword) {{item}}
.modal-footer
	button.btn.btn-primary(ng-click='close()') Close
