nav.navbar.navbar-default#layer_fixed.va_m
	.container-fluid
		form.navbar-form.navbar-right(role="search")
			.form-group.m-lr-4
				button.btn.btn-default(type="button", aria-label="Left Align", ng-click="showDesc=true", ng-show="!showDesc")
					span.glyphicon.glyphicon-eye-open(aria-hidden="true")
					|  스킬 보기
				button.btn.btn-default(type="button", aria-label="Left Align", ng-click="showDesc=false", ng-show="showDesc")
					span.glyphicon.glyphicon-eye-close(aria-hidden="true")
					|  스킬 닫기
			.form-group.m-lr-4
				button.btn.btn-default(type="button", aria-label="Left Align", ng-click="openDiff(party)", ng-disabled="!party.length")
					span.glyphicon.glyphicon-stats(aria-hidden="true")
					|  비교
			.form-group.m-lr-4
				button.btn.btn-default(type="button", aria-label="Left Align", ng-click="deselectAll()", ng-disabled="!party.length")
					span.glyphicon.glyphicon-unchecked(aria-hidden="true")
					|  선택 해제
			.form-group.m-lr-4
				label(for="filterWarrior").hide Warrior
				input.form-control(type="text", id="filterWarrior", placeholder="Find Warrior...", ng-model="filterWarrior")
			a.btn.btn-default(href="#header", aria-label="Left Align")
				span.glyphicon.glyphicon-triangle-top(aria-hidden="true")
			a.btn.btn-default(href="#footer", aria-label="Left Align")
				span.glyphicon.glyphicon-triangle-bottom(aria-hidden="true")
			//- .form-group(style="float:right;margin-right:6px;")
			//- 	input.btn.btn-default(type="button" value="선택 용사 비교")
		//- form.navbar-form.navbar-right(role="search", style="padding-top:10px")
		//- 	.checkbox-inline
		//- 		label
		//- 			input(type="checkbox", value="")
		//- 			| 패시브-주력형
		//- 	.checkbox-inline
		//- 		label
		//- 			input(type="checkbox", value="")
		//- 			| 패시브-보조형